/.env
.idea
/database
/import/*
!.gitkeep
/logs/nginx/*
!/logs/nginx/.gitkeep
backend/config/jwt
app/dist
app/node_modules
app/package-lock.json
pimcore/cache
app/cache
app/.env.local
app/vendor
app/var
app/public/bundles
app/public/var
app/.phpunit.result.cache
!pimcore/var/config
!pimcore/var/classes
pimcore/var

**auth.json
**.DS_Store
